certifi==2025.1.31
charset-normalizer==3.4.1
click==8.1.8
english-words==2.0.1
idna==3.10
joblib==1.4.2
nltk==3.9.1
numpy==2.2.3
pandas==2.2.3
pyenchant==3.2.2
python-dateutil==2.9.0.post0
pytz==2025.1
regex==2024.11.6
requests==2.32.3
six==1.17.0
tqdm==4.67.1
tzdata==2025.1
urllib3==2.3.0

optuna~=4.2.1
xgboost~=2.1.4
scipy~=1.15.2
scikit-learn~=1.6.1
torch~=2.6.0
deepspeed~=0.16.4
pytorch-lightning~=2.5.0.post0
torchmetrics~=1.6.1
transformers~=4.49.0